@media (min-width: 1200px) {
  .datenschutz {
    width: 80%;
    padding-top: 6% !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
}

.datenschutz {
  padding: 30px 20px 10px 20px;
  text-align: justify;
}
